<div class="card">
    <div class="body">
        <form [formGroup]="angForm" novalidate>

            <div class="form-group">
                <label for="" class="col-md-4">Person Name</label>
                <input type="text" class="form-control" formControlName="person_name"/>
            </div>
            <div *ngIf="angForm.controls['person_name'].invalid && 
                        (angForm.controls[person_name].dirty || 
                        angForm.control[person_name].touched)" 
                 class="alert alert-danger">
                <div *ngIf="angForm.controls[person_name].errors.required">
                    Person Name is Required.
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-md-4">Business Name</label>
                <input type="text" class="form-control" formControlName="business_name"/>
            </div>
            <div *ngIf="angForm.controls['person_business'].invalid && 
                        (angForm.controls[person_business].dirty || 
                        angForm.control[person_business].touched)" 
                 class="alert alert-danger">
                <div *ngIf="angForm.controls[person_business].errors.required">
                    Person Business is Required.
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-md-4">Business GST number</label>
                <input type="text" class="form-control" formControlName="buisiness_gst_number"/>
            </div>
            <div *ngIf="angForm.controls['buisiness_gst_number'].invalid && 
                        (angForm.controls[buisiness_gst_number].dirty || 
                        angForm.control[buisiness_gst_number].touched)" 
                 class="alert alert-danger">
                <div *ngIf="angForm.controls[buisiness_gst_number].errors.required">
                    Business GST number is Required.
                </div>
            </div>

            <div class="form-group">
                <button type="submit"
                        [disabled]="angForm.pristine || angForm.ivalid" 
                        class="btn btn-primary">
                    Add Business
                </button>
            </div>
        </form>
    </div>
</div>